/* This is the style sheet for the LIFE panel. */

div#life {
  background-image: url('../images/bg-repeat-life.jpg');
  color: #3D3D3D;
  opacity: 0.8;
  width: 960px;
  height: 600px;
  float: left;
}

div#life .list-group-item a {
  color: #5555DD;
}

div#home .panel,
div#books .panel {
  width: 430px;
}

div#weibo .well {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

div#renren .lead {
  margin-bottom: 0px;
  border-top: 1px solid white;
}

div#book-detail .media-object {
  width: 150px;
}

div#book-detail .well {
  margin-top: 15px;  /* same as padding of panel-body */
  margin-bottom: 0px;
}

div#movie-list {
  width: 70%;
}

div#movie-detail {
  width: 28%;
}

div#movie-list table {
  width: 100%;
  margin-bottom: 10px;
}

div#movie-list th, td {
  padding: 5px;
}

div#movie-detail img {
  width: 100%;
}

div#movie-detail .list-group {
  margin-bottom: 0;
}

div#movie-detail .list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
}