
body {
  background-image: url('../images/bg-repeat-body.png');
}

.vertical-compact {
  margin-top: 0px;
}

.grey-text {
  color: grey;
}

.center-text {
  text-align: center;
}

/* ======================= [General Classes] ======================= */

.tab-content {
  height: 528px;  /* nav bar: height - 52px, margin-bottom - 20px */
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  font-size: 13px;
}

.panel-heading {
  font-weight: bold;
  text-shadow: 1px 1px #666;
  font-size: 18px;
}

.panel-heading .label {
  font-size: 11px;
}

.panel-customized .panel-heading {
  color: #992725;
  background-color: #A0C196;
}

.panel-customized .panel-body {
  background-color: #C2C2C2;
}

.panel-customized .list-group-item {
  background-color: #C2C2C2;
}

/* ======================== General Classes ======================== */

div#container {
  border: 10px solid black;
  width: 1020px;
  height: 620px;
  margin: auto;
  margin-top: 3%;
}

div#divider {
  background-image: url('../images/bg-repeat-life-bar.png');
  width: 40px;
  height: 600px;
  border: 1px solid grey;
  float: right;
  cursor: pointer;
}