/* This is the style sheet for the WORK panel. */

.compact {
  margin-top: 0px;
}

.grey-text {
  color: grey;
}

div#work {
  background-image: url('../images/bg-repeat-work.png');
  opacity: 0.8;
  width: 0px;
  height: 600px;
  float: right;
}

div#career div#linked-in {
  width: 70%;
  margin: auto;
}

div#career div#linked-in small a {
  color: #000;
  font-size: 12px;
  text-shadow: 0px 0px;
}

div#career div#linked-in dt, dd {
  padding-top: 2px;
  padding-bottom: 2px;
}