/* This is the style sheet for the WORK panel. */

div#work {
  background-image: url('../images/bg-repeat-work.png');
  opacity: 0.8;
  width: 0px;
  height: 600px;
  float: right;
}

div#work .panel-heading a {
  color: #333;    /* defined by bootstrap for "body" */
  font-size: 12px;
  text-shadow: 0px 0px;
}

div#linked-in dt, dd {
  padding-top: 2px;
  padding-bottom: 2px;
}

div#linked-in, div#github {
  width: 75%;
  margin: auto;
}

div#github div#info {
  padding: 10px;
  width: 40%;
}

div#github div#repos {
  padding: 10px;
  width: 60%;
}

div#github dt {
  width: 20px;
}

div#github dd {
  margin-left: 30px;
}